.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-titlebar {
  display: none;
}

.app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.canvas-viewport {
  flex: 1;
  position: relative;
  overflow: hidden;
}
